@charset "EUC-KR";

.headerMenu {
	width: 100%;
	background: black;
	height: 30px;
	text-align: center;
}

.headerMenu a {
	text-decoration: none;
	color: white;
}

.headerMenu span {
	color: white;
	text-decoration: none;
}

.headerimg {
	width: 100%;
	height: 200px;
	line-height: 200px; 
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
}
.footerMenu{
	position: relative;
	height: 100px;
	background: #666666;
	padding-top: 20px;
	font-style: normal;
	color: white;
	padding-bottom: 20px;
	font-size: 12px;
	width: 100%;
	float: left;
}

.footerMenu a{
	color: white;
}

.footer1{
	width:20%;
	float: left;
	height: 100px;
	text-align: right;
	padding-right: 30px;
	line-height: 100px;
}
.footer2{
	width:70%;
	float: left;
	height: 100px;
	padding-left: 50px;
	padding-top: 25px;
	font-weight: bold;
	font-size: 15px;
}